.whole-container {
    display: flex;
}

.reservation-status-block__title {
    width: 50rem;
}

.reservation-status__unit {
    background-color: #305DFF;
    width: 35rem;
    margin-right: 10rem;
    margin-bottom: 1rem;
    color: white;
}

.reservation-status__unit__header {
    display: flex;
}

.watch-icon {
    height: 2rem;
    width: 2rem;

}

.watch-icon__img {
    height: 100%;
    width: 100%;
    background-color: #305DFF;
}


.cancel-icon {
    height: 2rem;
    width: 2rem;
}

.cancel-icon__img {
    height: 100%;
    width: 100%;
    background-color: #305DFF;
}

.user-name {
    font-size: 2rem;
    text-align: center;
}