.header-wrapper {
    margin-top: 0.65rem;
}

.name-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    min-width: 37rem;
}

.user-name {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.user-status {
    font-size: 2rem;
    line-height: 6.5rem;
}

.induction-premium {
    text-align: center;
    font-size: 1.5rem;
    min-width: 37rem;
}

.whole-container {
    display: flex;
    justify-content: space-between;
    max-width: 134rem;
    margin: 0 auto;

}

.reservation-status-block {
    margin-left: 1rem;
}

.reservation-status-block__title {
    display: flex;
    margin-top: 2rem;
}

.item-title-status--tab {
    border: 1px solid #305DFF;
    background-color: #305DFF;
    padding: 1rem 4rem;
    margin-right: 0.95rem;
    border-width: 1px 1px 0px 1px;
    border-radius: 0.5rem 0.5rem 0 0;
}

.item-title-history--tab {
    border: 1px solid gray;
    background-color: #dcdcdc;
    padding: 1rem 4rem;
    margin-right: 0.95rem;
    border-width: 1px 1px 0px 1px;
    border-radius: 0.5rem 0.5rem 0 0;
}

.item-title-status {
    text-decoration: none;
    color: white;
    font-size: 1.9rem;
    font-weight: bold;
}

.item-title-history {
    text-decoration: none;
    color: gray;
    font-size: 1.9rem;
    font-weight: bold;
}

.reservation-status__container {
    border: 1px solid #305DFF;
    background-color: #f0f8ff;
    width: 50vw;
    max-width: 50rem;
    min-width: 37rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

.reservation-status__unit {
    background-color: #305DFF;
    margin: 1rem 1rem 3rem 1rem;
    max-width: 70rem;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem gray;
}

.reservation-status__unit__header {
    display: flex;
}

.request-message__text{
    font-size: 1.4rem;
    margin: 0 0 0 2.8rem;
    text-decoration: underline;
}

.watch-icon {
    height: 100%;
    width: 3rem;
    margin-top: 3rem;
    margin-left: 2.5rem;
    margin-right: 1rem;
}

.watch-icon__img {
    height: 100%;
    width: 100%;
    background-color: #305DFF;
}

.reservation-number__text {
    font-size: 1.5rem;
    margin-top: 3.5rem;
    width: 5rem;
}

.reservation-details {
    margin-top: 2.4rem;
}

.reservation-item__header {
    font-size: 1.5rem;
    font-weight: lighter;
    padding-bottom: 2rem;
    padding-left: 3rem;
    text-align: left;
}

.reservation-item__header--last {
    font-size: 1.5rem;
    font-weight: lighter;
    padding-bottom: 2rem;
    padding-left: 3rem;
    text-align: left;
}

.reservation-item__data {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
}

.reservation-item__data--last{
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
}

.button__flex{
    display: flex;
    margin-top: 0;
}

.reservation-block__submit-button {
    border: none;
    border: 3px solid white;
    background-color: white;
    color: #305DFF;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    position: absolute;
    margin-left: 23.5rem;
    margin-top: -7rem;
    min-width: 10rem;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
}

.back-button--button{
    text-decoration: none;
    border: 3px solid white;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 0.5rem;
    width: 2.4rem;
    font-size: 1.3rem;
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-weight: bold;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
}

.favorite-shops-block {
    margin-left: 2rem;
}

.favorite-shops__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}

.favorite-shops__title__title-text,
.favorite-shops__title__title-text__blank {
    font-size: 2.4rem;
    margin-left: 4rem;
    margin: 0 0.8rem;
    width: 32rem;
}

.favorite-shops__title__title-text:after {
    content: "";
    display: block;
    height: 0;
    width: 32rem;
    margin: 0 0.8rem;
}

.shop-card__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-card__flex:after {
    content: "";
    display: block;
    width: 32rem;
    height: 0;
    margin: 1.5rem 0.8rem;
}

.shop-card {
    width: 32rem;
    margin: 1.5rem 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem gray;
    background-color: white;
}

.shop-card__img img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.shop-card__content {
    padding: 1.5rem 2.5rem;

}

.shop-card__content-ttl {
    font-size: 1.9rem;
    margin: 0 auto;
}


.shop-card__content-tag {
    font-size: 1.4rem;
}

.shop-card__content-tag-item {
    display: inline-block;
    margin: 0 auto;
    font-size: 1.2rem;
}

.shop-card__content__detail-btn {
    border: none;
    background-color: #305DFF;
    color: white;
    padding: 0.7rem 1.6rem;
    margin-top: 1.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.detail-favorite__flex {
    display: flex;
}

/* ハート */
.heart {
    width: 3.8rem;
    /* 正方形を作る */
    height: 3.8rem;
    /* 正方形を作る */
    position: relative;
    /* 基準位置とする */
    background-color: white;
    border: none;
    cursor: pointer;
    margin-top: 1.3rem;
    margin-left: 14rem;
}

.heart::before,
.heart::after {
    content: "";
    /* 疑似要素に必須 */
    width: 50%;
    /* ハートの丸い部分の大きさにかかわる */
    height: 80%;
    /* ハートの高さにかかわる */

    border-radius: 25px 25px 0 0;
    /* ハートの半円を生成 */
    display: block;
    /* ブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
}

.heart::before {
    transform: rotate(-45deg);
    /* 左に回転 */
    left: 14%;
    /* 左からの位置を指定 */
    top: 1%
}

.heart::after {
    transform: rotate(45deg);
    /* 右に回転 */
    right: 14%;
    /* 右からの位置を指定 */
    top: 1%
}

.red::before,
.red::after {
    background: red;
}

.gray::before,
.gray::after {
    background: gainsboro;
}

/* レスポンシブデザイン */
@media screen and (max-width: 768px) {

                        .nav {
                                margin-top: 3.7rem;
                            }
                        
                            .header {
                                height: 6rem;
                            }

    .whole-container {
            flex-direction: column;
        }
    
        .reservation-status-block {
            margin: 0 auto;
        }
    
        .reservation-status__container {
            width: 90vw;
        }
    
        .favorite-shops-block {
            margin-right: 2rem;
        }

                .favorite-shops__title {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
                    gap: 4px;
                    justify-items: center;
                }
        
                .favorite-shops__title__title-text {
                    display: flex;
                    justify-content: center;
                }
        
                .favorite-shops__title__title-text:after {
                    display: none
                }
        
                .favorite-shops__title__title-text__blank {
                    display: none;
                }
        
        
                .shop-card__flex {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
                    gap: 4px;
                    justify-items: center;
                }
        
                .shop-card {
                    width: 100%;
                    max-width: 50rem;
                    height: auto;
                    aspect-ratio: 15 / 14;
                }
        
                .shop-card__img img {
                    height: auto;
                    aspect-ratio: 7 / 4;
                }
        
                .detail-favorite__flex {
                    margin-top: 15%;
                }
        
                .shop-card__content__detail {
                    width: 60rem;
                    align-content: center;
                }
        
                .shop-card__content__detail-btn {
                    width: 100%;
                    max-width: 40%;
                    margin-top: 0;
                    aspect-ratio: 3 / 1;
                }
        
                .heart {
                    margin-left: 0;
                }
        
                .shop-card__content-ttl {
                    font-size: 2.2rem;
                }
        
                .shop-card__content-tag-item {
                    font-size: 1.6rem;
                }
}