.whole-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

}


.reservation-status__unit {
    background-color: #305DFF;
    max-width: 38rem;
    width: 100%;
    height: 29rem;
    margin: 1rem 1rem 3rem 1rem;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem gray;
}

.unit-title__text{
    text-align: center;
    font-size: 1.8rem;
}

.reservation-details {
    margin-top: 2.4rem;
}

.reservation-item__header {
    font-size: 1.5rem;
    font-weight: lighter;
    padding-bottom: 2rem;
    padding-left: 3rem;
    text-align: left;
}

.reservation-item__data {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
}


.arrow-icon__img--right
 {
    width: 5rem;
}

.arrow-icon__img--bottom{
    display:none;
}

.button-flex{
    display: flex;
}

.change-submit{
    margin-left:3rem ;
}

.change-submit__button{
        border: none;
        border: 3px solid white;
        background-color:white;
        color: #305DFF;
        cursor: pointer;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        box-shadow: 0.2rem 0.2rem 0.5rem black;
}

.back {
    margin-left: 3rem;
            margin-top: 0.35rem;
}

.back__button {
        text-decoration: none;
        border: 3px solid white;
        background-color: white;
        color: #305DFF;
        cursor: pointer;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        padding: 0.3rem ;
        box-shadow: 0.2rem 0.2rem 0.5rem black;
}

/* レスポンシブデザイン */
    @media screen and (max-width: 768px) {

        .nav {
            margin-top: 3.7rem;
        }

        .header {
            height: 6rem;
        }

        .whole-container{
            display: block;
            margin-top: 6rem;
  
        }

        .unit-title{
            padding-top: 0.01rem;
        }

                .reservation-status__unit {
                    height: auto;
                    min-width: 35.5rem;
                    margin: 0 auto;
                }

.arrow-icon{
    height: auto;
    min-width: 35.5rem;
    margin: 0 auto;
    
}

.arrow-icon__img--right {
    display: none;
}

.arrow-icon__img--bottom {
    display: block;
    width: 5rem;
margin: 0 auto;
   }


    .button-flex{
        padding-bottom: 2rem;
    }

    
}