.whole-container {
    display: flex;
    justify-content: space-between;
    max-width: 134rem;
    margin: 0 auto;
}

.detail-block__header{
    display: flex;
    align-items: center;
    margin-left: 1.4rem;
    height: 8rem;
}
.detail-block__back-button--button {
    text-decoration: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 0.5rem;
    padding:0.7rem 0.8rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0.2rem 0.2rem 0.5rem gray;
}

.detail-block__header__title-text{
    margin-left: 1.3rem;
    font-size: 2.8rem;
}

.detail-block__content__img,
.review--image{
    max-width: 60rem;
    margin-left:1.5rem ;
}

.detail-block__content__img--img,
.review--image img {
    width: 100%;
    max-height: 40rem;
    object-fit: cover;
    aspect-ratio: 5 / 3;
}

.detail-block__content__tag{
    display: flex;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.detail-block__content__tag-item{
    font-size: 1.7rem;
    margin-right: 0.5rem;
}

.detail-content__overview{
    font-size: 1.7rem;
    margin-left: 1.5rem;
    max-width: 60rem;
}

.review__header{
    background-color: blue;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    max-width: 60rem;
    margin-left: 1.5rem;
}

.review__edit-delete,
.review__delete{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.review__content{
    margin-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.review--star__group{
    font-size: 3rem;
    color: blue;
    margin-left: 1.5rem;
}

.review--comment{
    font-size: 1.8rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    max-width: 60rem;
}

.review--image{
    margin-bottom: 2rem;
}

/* 予約ブロック */
.reservation-block__container{
    height: 40rem;
    width:60rem ;
}

.reservation-block{
    background-color: #305DFF;
    border-radius: 0.5rem;
    margin-top: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.reservation-block__title{
    padding-top: 3rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    }

.reservation-block__title__title-text{
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
}

.reservation-block__content{
    margin-bottom: 1.5rem;
}

.reservation-block__content-input--date{
    margin-top: 0.5rem;
    margin-left: 3rem;
    border: none;
    border-radius: 0.5rem;
    height: 3rem;
    width: 18rem;
    padding:0 1rem;
    font-size: 1.5rem;
}

.reservation-block__content-select--time{
    margin-top: 0.5rem;
    margin-left: 3rem;
    border-radius: 0.5rem;
    height: 3rem;
    width:85%;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.reservation-block__content-select--number{
    margin-top: 0.5rem;
    margin-left: 3rem;
    border-radius: 0.5rem;
    height: 3rem;
    width: 85%;
    padding: 0 1rem;
    font-size: 1.5rem;
}

select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("/img/検索矢印アイコン.png");
    background-repeat: no-repeat;
    background-size: 1.5rem auto;
    background-position: right 12px center;
}

.reservation-block__content-button{
    padding-top: 30%;
}


.reservation-block__content-button--btn{
    background-color: blue;
    color: white;
    height: 6.5rem;
    width: 100%;
    border: none;
    border-radius: 0 0 0.5rem 0.5rem;
    cursor: pointer;
    margin:12rem 0 0 0;
    font-size: 1.8rem;
}

/* レスポンシブデザイン */
@media screen and (max-width: 768px) {

    .nav {
        margin-top: 3.7rem;
    }

    .header {
        height: 6rem;
    }

    .whole-container {
        flex-direction:column;
        margin: 0 auto;
    }

    .detail-block{
        margin: 0 auto;
        min-width: 37.5rem;
    }

    .detail-block__content{
        margin-right: 1rem;
    }

    .reservation-block__container{
        margin: 0 auto;
        width: 100%;
        max-width:60rem ;
        height: 100%;
    }

    .reservation-block{
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}