.edit__content {
    margin-left: 1rem;
    max-width: 35rem;
    width: 100%;
    font-size: 2rem;
    margin-top: 0.9rem;
}

.whole-container__wrapper {
    display: grid;
    justify-items: center;
    width: 100%;
}

.whole-container {
    display: flex;

}

.detail-block {
    margin-left: 2rem;
}

.detail-block__content {

    margin-left: 1.4rem;
}

.detail-block__header {
display: flex;
align-items: center;
}


.detail-block__back-button--button {
    text-decoration: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.7rem 0.8rem;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0.2rem 0.2rem 0.5rem gray;
    margin-right: 2rem;
}

.shop-name__flex{
    display: flex;
}

.header-message--text{
    font-size: 1.3rem;
}

.header__title {
    margin-right: 1rem;
}

.header__title--text{
    font-size: 1.3rem;
}

.detail-block__content__img {
    max-width: 48rem;
    margin-left: 1.5rem;
}

.detail-block__content__img img {
    width: 100%;
    max-height: 32rem;
    object-fit: cover;
        aspect-ratio: 5 / 3;
}

.select__flex{
    display: flex;
}

textarea {
    height: 6rem;
    max-width: 48rem;
    width: 100%;
    resize: none;
}

.reservation-block__submit-button {
    background-color: blue;
        color: white;
        height: 4rem;
        width: 10rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        margin-top: 1rem;
        margin-left: 20rem;
        font-size: 1.5rem;
        box-shadow: 0.2rem 0.2rem 0.5rem gray;
}

/* レスポンシブデザイン */
@media screen and (max-width: 768px) {
.nav {
        margin-top: 3.7rem;
    }

    .header {
        height: 6rem;
    }

    .header__title{
        margin-right: 0;
    }
.select__flex {
        display: block;
    }

.detail-block__content {
    margin-left: 0;
    margin-right: 2rem;
}

textarea {
    height: 8rem;
}
.reservation-block__submit-button{
    margin-bottom: 2rem;
    margin-left: 0;
}

.detail-block__submit{
        display: flex;
        justify-content: center;
        margin-right: 1rem;
}
}