select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("/img/検索矢印アイコン.png");
    background-repeat: no-repeat;
    background-size: 1.5rem auto;
    background-position: right 12px center;
}

.search-form__item {
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    height: 5rem;
    max-width: 60rem;
    width: 65rem;
    min-width: 37.5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem gray;
}

.sort__box{
    display: flex;
    align-items: center;
margin-left: 1rem;
}

.sort__title{
width: 7rem;
font-size: 1.3rem;
}

.search-form__item-sort--select {
    border: none;
    border-right: 1.3px solid #dcdcdc;
    height: 3rem;
    width: 11rem;
    font-size: 1.3rem;

}

.search-form__item-area--select{
    border: none;
    border-right: 1.3px solid #dcdcdc;
    height: 3rem;
    width: 10rem;
    min-width: 8rem;
    font-size: 1.3rem;
    margin-left: 1.5rem;
}

.search-form__item-genre--select {
    border: none;
    border-right: 1.3px solid #dcdcdc;
    height: 3rem;
    width: 12rem;
    min-width: 10rem;
    font-size: 1.3rem;
    margin-left: 1.5rem;
}

.search-form__item-keyword{
        background-image: url("/img/虫眼鏡アイコン.png");
        background-repeat: no-repeat;
        background-size: 2rem auto;
        background-position: left 12px center;
}

.search-form__item-keyword--input{
    appearance: none;
    margin-left: 4rem;
    border: none;
    height: 3.5rem;
    width: 70%;
    font-size: 1.3rem;
}

.notFound-message{
    margin-top: 5rem;
    margin-left: 2rem;
}
.shop-card__flex-wrapper {
    max-width: 135rem;
    margin: 0 auto;
}

.shop-card__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-card__flex:after {
    content: "";
    display: block;
    width: 32rem;
    height: 0;
    margin: 1.5rem 0.8rem;
}

.shop-card__flex:before {
    content: "";
    display: block;
    width: 32rem;
    height: 0;
    order: 1;
    margin: 1.5rem 0.8rem;
}

.shop-card__blank{
    content: "";
    display: block;
    width: 32rem;
    height: 0;
    margin: 1.5rem 0.8rem;
}

.shop-card {
    width: 32rem;
    margin: 1.5rem 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem gray;
    background-color: white;
}

.shop-card__img img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.shop-card__header{
    display: flex;
}

.shop-card__content-star{
    color: #ffd700;
        margin: auto 0 auto 1.5rem;
            font-size: 2.5rem;
}

.shop-card__content {
    padding: 1.5rem 2.5rem;
}

.shop-card__content-ttl {
    font-size: 1.9rem;
}

.shop-card__content-rating{
        margin: auto 0 auto 0.5rem;
            font-size: 1.5rem;
}

.shop-card__content-tag {
    font-size: 1.4rem;
}

.shop-card__content-tag-item {
    display: inline-block;
    margin: 0 auto;
    font-size: 1.2rem;
}

.shop-card__content__detail-btn {
    border: none;
    background-color: #305DFF;
    color: white;
    padding: 0.7rem 1.6rem;
    margin-top: 1.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.detail-favorite__flex {
    display: flex;
}

/* ハート */
.heart {
    width: 3.8rem;
    /* 正方形を作る */
    height: 3.8rem;
    /* 正方形を作る */
    position: relative;
    /* 基準位置とする */
    background-color: white;
    border: none;
    cursor: pointer;
    margin-top: 1.3rem;
    margin-left: 14rem;
}

.heart::before,
.heart::after {
    content: "";
    /* 疑似要素に必須 */
    width: 50%;
    /* ハートの丸い部分の大きさにかかわる */
    height: 80%;
    /* ハートの高さにかかわる */

    border-radius: 25px 25px 0 0;
    /* ハートの半円を生成 */
    display: block;
    /* ブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
}

.heart::before {
    transform: rotate(-45deg);
    /* 左に回転 */
    left: 14%;
    /* 左からの位置を指定 */
    top: 1%
}

.heart::after {
    transform: rotate(45deg);
    /* 右に回転 */
    right: 14%;
    /* 右からの位置を指定 */
    top: 1%
}

.red::before,
.red::after {
    background: red;
}

.gray::before,
.gray::after {
    background: gainsboro;
}

/* レスポンシブデザイン */
@media screen and (max-width: 768px) {

    .search-form__item {
        margin: 0 auto;
        width: 97%;
    }

    .search-form__item-keyword--input {
        width: 60%;
    }

    .shop-card__flex-wrapper{
        margin-top: 2rem;
    }

    .shop-card__flex {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
        gap: 4px;
        justify-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .shop-card {
        width: 100%;
        max-width: 50rem;
        height: auto;
        aspect-ratio: 15 / 14;
    }

    .shop-card__img img {
        height: auto;
        aspect-ratio: 7 / 4;
    }

    .detail-favorite__flex {
        margin-top: 15%;
    }

    .shop-card__content__detail {
        width: 60rem;
        align-content: center;
    }

    .shop-card__content__detail-btn {
        width: 100%;
        max-width: 40%;
        margin-top: 0;
        aspect-ratio: 3 / 1;
    }

    .heart {
        margin-left: 0;
    }

    .shop-card__content-ttl {
        font-size: 2.2rem;
    }

    .shop-card__content-tag-item {
        font-size: 1.6rem;
    }
}

