.whole-container {
    display: flex;
}

.history-block__title {
    width: 50rem;
    display: flex;
}

.item-title{
    margin-right: 1rem;
}

.history__unit {
    background-color: #305DFF;
    width: 35rem;
    margin-right: 10rem;
    margin-bottom: 1rem;
    color: white;
}

.history__unit__header {
    display: flex;
}

.watch-icon {
    height: 2rem;
    width: 2rem;

}

.watch-icon__img {
    height: 100%;
    width: 100%;
    background-color: #305DFF;
}


.cancel-icon {
    height: 2rem;
    width: 2rem;
}

.cancel-icon__img {
    height: 100%;
    width: 100%;
    background-color: #305DFF;
}

.name-area {
    display: flex;
    justify-content: center;
}

.user-name {
    font-size: 2rem;
    text-align: center;
}

.user-status {
    font-size: 2rem;
    text-align: center;
}

.induction-premium {
    text-align: center;
}
