.thanks-card {
    width: 52rem;
    height: 32rem;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem gray;
    margin: auto;
    margin-top: 3rem;
}

.thanks-card__text {
    text-align: center;
    font-size: 2rem;
    padding-top: 10rem;
}

.thanks-card__button {
    margin-top: 5rem;
    text-align: center;
}

.thanks-card__button--btn {
    text-decoration: none;
    background-color: #305DFF;
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.9rem 1.8rem;
    font-size: 1.3rem;
}