.status-change__group__flex {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right:1rem ;
    min-width: 37.5rem;
}

.status-change__group {
    width: 62rem;
    background-color: #305DFF;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem gray;
    margin-top: 10rem;
}

.status-change-section-title {
    height: 6rem;
    display: flex;
    align-items: center;
}

.status-change-form__group {
    background-color: white;
    border-radius: 0 0 0.5rem 0.5rem;
}

.reservation-item__header {
    color: black;
    font-size:2rem ;
    padding-top: 2.5rem;
    padding-left: 2rem;

}

.reservation-item__data {
    color: black;
    font-size: 2rem;
    padding-top: 2.5rem;
    padding-left: 3rem;
}

.back__btn {
    margin-top: 2.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    background-color: gray;
    color: black;
    padding: 0.6rem 1.6rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.visit-status__button--submit {
    margin-top: 2.5rem;
    margin-left: 3rem;
    border: none;
    background-color: #305DFF;
    color: white;
    padding: 0.6rem 1.6rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.button__group {
    display: flex;
    justify-content: center;
}